@import 'bootstrap';
@import 'font-awesome';
@import 'fonts';

// -- Colors ------------------------------------------

$black: #191818;
$blue: #0093d0;


// -- Typo --------------------------------------------

html, body, button, input, select, textarea {
  font-family: "proxima-nova", sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "omnes-pro", sans-serif;
  font-weight: 300;
}


// -- Layout ------------------------------------------

$sidebar-width: 300px;

body, html {
  height: 100%;
  width: 100%;
  min-width: 500px;
}

.layout {
  padding-left: $sidebar-width;
  position: relative;
  height: 100%;
  min-height:100%;

  .sidebar {
    background-color: $black;
    color: #FFF;
    width: $sidebar-width;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;

    .logo {
      width: 80%;
      margin: 10%;
    }

    .main-nav {

      ul {
        border-top: 1px solid #333;
        list-style: none;
        padding: 0; 

        li {

          &.active {
            background-color: $blue;
          }

          a {
            color: #999;
            display: block;
            font-family: "omnes-pro", sans-serif;
            font-weight: 300;
            font-size: 110%;
            line-height: 1.5em;
            padding: 0.625em 10%;
          }

          &.active a {
            color: #FFF;
          }

        } // li

      } // ul

    } // .main-nav

  } // .sidebar

  .content {
  
  } // .content

} // .layout


