.meeting {

  .no-activities {
    text-align: center;
    width: 100%;
    height: 100%;
    
    .fa {
      font-size: 25vh;
      line-height: 1;
      color: #CCC;
      height: 100%;
      padding-top: 25vh;
      z-index: 10000000;
    }
  }

}
