// -- Variables ---------------------------------------------------

$green: #5cb85c;
$darker-green: #4cae4c;
$blue: #007aff;


// -- Layout ------------------------------------------------------

.navbar-app .btn {
  
}



// -- Loading -----------------------------------------------------

.loading-overlay {
  background-color: rgba(255, 255, 255, .5);
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10000;
}

.loading-spinner {
  position: relative;
  top: 50%;
  font-size: 100px;
  margin-top: -50px;
  color: $blue;
}


// -- Sidebars ----------------------------------------------------

.app-logo {
  padding: 10%;

  img {
    width: 100%;
  }
}

.context-nav {

  .context-nav-top {
    height: 51px;
  }

  .context-nav-body {
    height: 100%;
    width: 100%;
    padding-top: 51px;
    position: relative;
    overflow: hidden;
  }

}


// -- Ideas -------------------------------------------------------

.ideas {

  .idea {
    .idea-title {
      font-size: 18px;
      font-weight: 200;
      margin-bottom: 0;
    }
    .idea-description {
      color: #999;
      margin-bottom: 0;
    }
  }
}


// -- Auth --------------------------------------------------------

.auth {


}


// -- Home --------------------------------------------------------

.home {

  .context-nav {

    .context-nav-top {
      background: $green;
      color: #FFF;
    }

    .meetings {

      .meeting {

        .icon {
          font-size: 40px;
          margin-right: 30px;
        }

      }

    }

  }

}


// -- Meeting -----------------------------------------------------

.meeting {

  .navbar, .navbar-app {
    background-color: $green;
    color: #FFF;

    .btn {
      color: #FFF;
    }
  }

}


// -- Forms -------------------------------------------------------

button.btn-navbar {
}

.navbar-app .btn-submit {
  background-color: $green;
  border-color: $darker-green;
  border-radius: 0;
  color: #FFF;
}

.navbar-app .btn-submit:hover {
  color: #FFF;
}

/* reset angular-mobile styles */
input.ng-invalid,
textarea.ng-invalid,
.ng-dirty input.ng-invalid {
  border: 1px solid #CCC;
}

.form-group.has-error {
  .form-control {
    border-color: #a94442;
  }
}


// -- Media ------------------------------------------------------

.list-group {
  margin-bottom: 0;
}

.list-group-item.media {

  .media-body {
    padding-top: 5px;
  }

  .media-icon {
    font-size: 44px;
    padding: 0;
    color: #0062cc;
    line-height: 64px;
    width: 64px;
    text-align: center;
    opacity: .8;
  }
  
}

.form-control {
  -webkit-appearance:none;
}
