<div class="page backlog-item-edit">

  <div class="page-header">
    <h2 class="title"><%= @backlog_item.title %></h2>
  </div>

  <%= render "backlog_item_form", backlog_item: @backlog_item %>
</div> <!-- .backlog-item-edit -->
