<div content-for="title">
  <span>Project Ideas</span>
</div>

<div content-for="navbar-top-action-right">
  <div class="btn-group pull-right">
    <a href="#/ideas/new" class="btn btn-navbar">
      <i class="fa fa-plus"></i> New
    </a>
  </div>
</div>

<div class="scrollable">
  <div class="scrollable-content section">
    <div class="ideas list-group">
      <div class="list-group-item media" ng-show="!loading && !ideas.length">
        <div class="pull-left">
          <i class="fa fa-frown-o media-icon"></i>
        </div>
        <div class="media-body">
          <h3 class="media-heading">
            No ideas yet? <br />
            <small>Come on! You can do better!</small>
          </h3>
        </div>
      </div>
      <div class="idea list-group-item" ng-repeat="idea in ideas">
        <p class="idea-title">{{idea.title}}</p>
        <p class="idea-description">{{idea.description}}</p>
      </div>
  </div>
</div>

