<div content-for="title">
  <span><i class="fa fa-edit"></i> Edit {{item.title | limitTo:20}}<span ng-if="item.title.length > 10">...</span></span>
</div>

<div content-for="navbar-top-action-left">
  <div class="btn-group pull-right">
    <a ng-click="cancel()" class="btn btn-navbar">
      <i class="fa fa-chevron-left"></i> X
    </a>
  </div>
</div>

<div class="scrollable">
  <div class="scrollable-content section">
    <form name="backlogItemForm" action="" class="create-item.form" novalidate>
      <div class="panel">
        <div class="panel-body">
          <div class="form-group container-fluid"
              ng-class="{ 'has-error': (errors.title && backlogItemForm.title.$pristine) || ( backlogItemForm.title.$invalid && !backlogItemForm.title.$pristine ) }">
            <div class="row">
              <label for="item_title_input" class="control-label col-sm-2">Title *</label>
              <div class="col-sm-10">
                <input type="text" name="title" id="item_title_input" class="form-control" required
                  ng-model="item.title"
                  ng-change="live_update()" />
                <p ng-show="errors.title && backlogItemForm.title.$pristine" class="help-block">{{errors.title[0]}}</p>
              </div>
            </div>
          </div> <!-- .form-group -->

          <div class="form-group container-fluid">
            <div class="row">
              <label for="item.description_input" class="control-label col-sm-2">Description</label>
              <div class="col-sm-10">
                <textarea ng-model="item.description" ng-change="live_update()" rows="10" id="item_description_input" class="form-control"></textarea>
              </div>
            </div>
          </div> <!-- .form-group -->

        </div>
      </div> <!-- .panel -->     
    </form>
  </div>
</div>

<div content-for="navbar-bottom">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-submit"
        ng-click="submit(item)"
        ng-disabled="backlogItemForm.$invalid || loading">
        <i class="fa" ng-class="{ 'fa-save': !loading, 'fa-spinner fa-spin': loading }"></i>
        &nbsp;Save
      </button>
    </div>
  </div>
</div>

