<div class="poker-decision-menu-container">
  <div class="poker-decision-menu">
    <ul>
      <li class="first restart">
        <restart-button
          blocked="blocked"
          on-restart="restart()">
        </restart-button>
      </li>
      <li class="option" ng-class="{'last':$last}" ng-repeat="option in poker.model.estimate_options">
        <option-button
          blocked="blocked"
          option="option"
          on-decision="decide(option)">
        </option-button>
      </li>
    </ul>
  </div> <!-- .poker-decision-menu -->
</div>
