<form name="criteriaForm" class="criteria-form" ng-submit="submit()" novalidate>
  <div class="form-group"
    ng-class="{ 'has-error': (errors.description && criteriaForm.description.$pristine) || ( criteriaForm.description.$invalid && !criteriaForm.description.$pristine ) }">
    <input type="text" name="description" ng-model="criteria.description" auto-focus required ng-disabled="loading" />
    <button class="btn btn-sm btn-success" ng-disabled="loading || criteriaForm.$invalid">
      <span ng-if="!loading">Save</span>
      <i ng-if="loading" class="fa fa-spinner fa-spin"></i>
    </button>
    <a ng-show="!loading" ng-click="cancel()" class="btn cancel">x</a>
    <p ng-show="errors.description && criteriaForm.description.$pristine" class="help-block">{{errors.description[0]}}</p>
  </div>
</form>
