<div class="page dashboard">

  <div class="page-header">
    <h2 class="title">Dashboard</h2>
  </div>

  <%= render_cell :activity_stream, :show, :activities => @activities %>
</div> <!-- .dashboard -->
