.auth {
  height: 100%;
  width: 100%;

  .auth-overlay {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .pin-wrapper {
    display: table;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 11;
  }

  .pin {
    color: $blue;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica';
    font-size: 10vw;
    font-weight: normal;
    letter-spacing: .5em;
    margin: 0;
  }

}

