.poker {
  height: 100%;
  width: 100%;

  .backlog-item {
    height: calc(80vh * 0.6);
    width: 80vh;
    position: absolute;
    left: calc(50% - 40vh);
    top: calc( 50% - (80vh * 0.3) );
    background: #FFF url('/images/index-card.png');
    background-position: bottom;
    box-shadow: 0 0 5em 1em rgba(0, 0, 0, .5);
    background-size: 100%;
    
    /*-webkit-font-smoothing: subpixel-antialiased;*/

    .title, .descr, .estimate {
      cursor: default;
      font-family: 'Helvetica';
      font-weight: 300;
      color: #333;
      padding: 0 5%;
    }

    .title {
      font-size: 5vh;
      line-height: 8vh;
      margin: 0;
    }

    .descr {
      font-size: 3vh;
      line-height: 4vh;
      margin-top: 4.5vh;
    }

    .estimate {
      margin: 0;
      float: right;
      font-size: 5vh;
      line-height: 8vh;
    }

  }
}


.poker-result {
  width: 100%;
  height: 100%;

  .poker-decision-menu-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: table;
    z-index: 100;
  }

  .poker-decision-menu {
    display: table-cell;
    vertical-align: middle;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      &.first {
        a {
          border-top-right-radius: 50%;
          border-top: 1px solid #FFF;
          .content {
            border-top-right-radius: 50%;
            padding-top: .5em;
          }
        }
      }

      &.last {
        a {
          border-bottom-right-radius: 50%;
          .content {
            border-bottom-right-radius: 50%;
            padding-bottom: .5em;
          }
        }
      }

      a {
        border-bottom: 1px solid #FFF;
        border-right: 1px solid #FFF;
        color: #FFF;
        display: block;
        text-align: center;
        text-decoration: none;
        font-family: Helvetica;

        .content {
          display: table-cell;
          height: 7vh;
          width: 5vw;
          vertical-align: middle;
        }

        &.blocked .content {
          opacity: .3;
        }
      }

      &.restart {
        a .content {
          background-color: $green;
        }
      }

      &.option {
        a .content {
          background-color: $blue;
        }
      }
    }
  }

  .poker-result-chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;
    height: 80vh;
    padding: 10vh 10vw 10vh 15vw;
  }

  .poker-result-chart {
    display: block;
    height: 100%;
    width: 100%;

    svg {
      text {
        fill: #FFF;
        font-family: Helvetica;
      }
      .axis path,
      .axis line {
        fill: none;
        stroke: #FFF;
        shape-rendering: crispEdges;
      }

      .bar {
        fill: $blue;
      }
    } // svg
  }  
}
