// -- Variables -----------------------------------------

$blue: #428bca;
$green: #5cb85c;


// -- Module styles -------------------------------------

@import 'fonts';
@import 'auth';
@import 'home';
@import 'dashboard';
@import 'meetings';
@import 'poker';
@import 'backlog_items';


// -- Layout --------------------------------------------

body, html, .content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: black;
  font-family: "proxima-nova",sans-serif;
  font-weight: 200;
  color: #FFF;
  font-size: 2vmin;
}


.screen {
  height: 100%;
  width: 100%;

  header, section, footer {
  }

  header {
    h1 {
      margin-bottom: 0;
    }

    hr {
      border: 0;
      border-bottom: 1px solid $blue;
      margin: 0;
    }
  }

  section {
  
  }

  footer {
  
  }
}

.row {
  @extend .clearfix;

}

.flex-col-50 {
  width: 49%;
  float: left;

  &:first-child {
    padding-right: 1%;
  }

  &:last-child {
    padding-left: 1%;
  }
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

// -- Fonts --------------------------------------------

h1, h2, h3, h4 {
  color: #FFF;
  font-family: "proxima-nova",sans-serif;
  font-weight: 200;
  margin-top: 0;
  line-height: 1;
}

h1 {
  font-size: 5vmax;
}

h2 {
  font-size: 3vmax;
}


// -- Loading overlay -------------------------------------

.loading-overlay {
  opacity: 1;
  transition: 0.8s all ease-out;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.loading-overlay.ng-hide-add, .animate-fade.ng-hide-remove {
  display: block !important;
}

.loading-overlay.ng-hide {
  opacity: 0;
}

.spinner { 
  background-color: rgba(0,0,0,0);
  border: 20px solid $blue;
  border-top: 20px solid rgba(0,0,0,0);
  border-left: 20px solid rgba(0,0,0,0);
  border-radius: 100px !important;  opacity: .8;
  width: 100px;
  height: 100px; 
  margin: 5% auto;
  position: relative;
  top: 50%;
  margin-top: -50px;
  animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}

