<div content-for="title">
  <span>{{item.title | limitTo:20}}<span ng-if="item.title.length > 20">...</span></span>
</div>

<div content-for="navbar-top-action-right">
  <div class="btn-group pull-right">
    <a ng-click="edit()" class="btn btn-navbar">
      <i class="fa fa-edit"></i> Edit
    </a>
  </div>
</div>

<div content-for="navbar-top-action-left">
  <div class="btn-group pull-right">
    <a ng-click="back()" class="btn btn-navbar">
      <i class="fa fa-chevron-left"></i> Back
    </a>
  </div>
</div>

<div class="scrollable">
  <div class="scrollable-content section">
    <div class="list-group">
      <div class="list-group-item">
        <h1 class="title">{{item.title}}</h1> 
        <p class="description lead">{{item.description}}</div>
      </div>
      <div class="acceptance-criteria list-group-item">
        <h2>Acceptance Criteria</h2>
        <ul>
          <li class="empty" ng-if="!item.acceptance_criteria.length">None have been specified</li>
          <li ng-repeat="criteria in item.acceptance_criteria">{{criteria.description}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div content-for="navbar-bottom">
  <div class="btn-group justified">
    <a href="" class="btn btn-navbar">
      <i class="fa fa-plus"></i> Add criteria
    </a>
    <a ng-click="attachNote()" class="btn btn-navbar">
      <i class="fa fa-plus"></i> Attach Note
    </a>
  </div>
</div>
