<div content-for="title">
  <span>Dashboard</span>
</div>


<div content-for="navbar-top-action-right">
  <div ng-click="toggle('context-nav')" class="btn btn-navbar sidebar-toggle">
    <i class="fa fa-bars"></i> 
  </div>
</div>

<div content-for="context-nav-title">
  Current activities
</div>

<div content-for="context-nav-body">
  <div class="meetings list-group" toggle="off" bubble target="context-nav">
    <div ng-show="!meetings.length" class="list-group-item clearfix">
      <div class="icon pull-left">
        <i class="fa fa-frown-o media-icon"></i>
      </div>
      <div class="media-body">
        <p class="lead media-heading">
          There are no activities
        </p>
        <p>
          Nothing is happening right now
        </p>
      </div>
    </div>
    <a ng-href="#/meetings/{{meeting.id}}" class="meeting list-group-item media" ng-repeat="meeting in meetings">
      <div class="icon pull-left">
        <i class="fa fa-group chat-user-avatar"></i>
      </div>
      <div class="media-body">
        <p class="lead media-heading">{{ meeting.name ? meeting.name : 'Meeting @ ' + meeting.initiator.name }}</p>
        <span ng-if="meeting.is_participating" class="label label-success">JOINED</span>
      </div>
    </a>
  </div> <!-- .list-group -->
</div>

<div class="scrollable">
  <div class="scrollable-content section">
    <div class="activities list-group">

      <div class="activity list-group-item media">
        <div class="pull-left">
          <img alt="Gravatar" height="64" src="http://gravatar.com/avatar/9391c1bd2c647090f1d484bc566914f1?size=64" width="64">
        </div>
        <div class="media-body">
          <p class="primary">
            The backlog item <a href="">Show additional information...</a> has been created
          </p>
          <p class="footer">
            <small>
              <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">6 hours ago</span>&nbsp;&nbsp;&nbsp;August 21rd, 2014 17:23
            </small>
          </p>
        </div>
      </div>

      <div class="activity list-group-item media">
        <div class="pull-left">
          <img alt="Gravatar" height="64" src="http://gravatar.com/avatar/ac42e40df180c367fbbc7b4ca4cc9701?size=64" width="64">
        </div>
        <div class="media-body">
          <p class="primary">
            The backlog item <a href="">Support for board interaction...</a> has been tagged with <a href="#">needs refinement</a>
          </p>
          <p class="footer">
            <small>
              <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">12 hours ago</span>&nbsp;&nbsp;&nbsp;August 21rd, 2014 11:23
            </small>
          </p>
        </div>
      </div>

      <div class="activity list-group-item media">
        <div class="pull-left">
          <a href=""><i class="fa fa-group" style="font-size: 55px; padding-top: 10px"></i></a>
        </div>
        <div class="media-body">
          <p class="primary">
            A <a href="">meeting</a> was held @ <a href="">MAGIC Table</a>
          </p>
          <p class="secondary" style="padding-top: 2px; margin-bottom: 5px">
            <a href=""><img alt="Gravatar" src="http://gravatar.com/avatar/ac42e40df180c367fbbc7b4ca4cc9701?size=26" height="26" width="26"></a>
            <a href=""><img alt="Gravatar" src="http://gravatar.com/avatar/9391c1bd2c647090f1d484bc566914f1?size=26" height="26" width="26"></a>
            <a href=""><img alt="Gravatar" src="http://gravatar.com/avatar/4531c9cb401c7a0c5ed4ec15265a15bd?size=26" height="26" width="26"></a>
            <a href=""><img alt="Gravatar" src="http://gravatar.com/avatar/1be7fbff1c430e383ee2c20111fe9afe?size=26" height="26" width="26"></a>
          </p>
          <p class="footer">
            <small>
              <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">1 day ago</span>&nbsp;&nbsp;&nbsp;August 20rd, 2014 09:01
            </small>
          </p>
        </div>
      </div>

      <div class="activity list-group-item media">
        <div class="pull-left">
          <img alt="Gravatar" height="64" src="http://gravatar.com/avatar/ac42e40df180c367fbbc7b4ca4cc9701?size=64" width="64">
        </div>
        <div class="media-body">
          <p class="primary">
            The backlog item <a href="">Shift focus to individual PBIs</a> has been tagged with <a href="#">needs discussion</a>
          </p>
          <p class="footer">
            <small>
              <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">1 day ago</span>&nbsp;&nbsp;&nbsp;August 20rd, 2014 08:47
            </small>
          </p>
        </div>
      </div>


      <div class="activity list-group-item media">
        <div class="pull-left">
          <img alt="Gravatar" height="64" src="http://gravatar.com/avatar/9391c1bd2c647090f1d484bc566914f1?size=64" width="64">
        </div>
        <div class="media-body">
          <p class="primary">
            The backlog item <a href="">Rearrange PBIs with gestures</a> has been refined
          </p>
          <p class="footer">
            <small>
              <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">1 day ago</span>&nbsp;&nbsp;&nbsp;August 20rd, 2014 08:23
            </small>
          </p>
        </div>
      </div>

      <div class="activity list-group-item media">
        <div class="pull-left">
          <a href=""><i class="fa fa-group" style="font-size: 55px; padding-top: 10px"></i></a>
        </div>
        <div class="media-body">
          <p class="primary">
            A <a href="">meeting</a> was held @ <a href="">MAGIC Table</a>
          </p>
          <p class="secondary" style="padding-top: 2px; margin-bottom: 5px">
            <a href=""><img alt="Gravatar" src="http://gravatar.com/avatar/9391c1bd2c647090f1d484bc566914f1?size=26" height="26" width="26"></a>
            <a href=""><img alt="Gravatar" src="http://gravatar.com/avatar/ac42e40df180c367fbbc7b4ca4cc9701?size=26" height="26" width="26"></a>
          </p>
          <p class="footer">
            <small>
              <i class="fa fa-clock-o"></i>&nbsp;&nbsp;<span class="time-ago">2 day ago</span>&nbsp;&nbsp;&nbsp;August 19rd, 2014 09:01
            </small>
          </p>
        </div>
      </div>


      <!--
      <div class="list-group-item">
      </div>
      -->
  </div>
</div>
