<div content-for="title">
  <span>Home</span>
</div>


<div content-for="navbar-top-action-right">
  <div ng-click="toggle('context-nav')" class="btn btn-navbar sidebar-toggle">
    <i class="fa fa-bars"></i> 
  </div>
</div>

<div content-for="context-nav-title">
  Current activities
</div>

<div content-for="context-nav-body">
  <div class="meetings list-group" toggle="off" bubble target="context-nav">
    <div ng-show="!meetings.length" class="list-group-item clearfix">
      <div class="icon pull-left">
        <i class="fa fa-frown-o media-icon"></i>
      </div>
      <div class="media-body">
        <p class="lead media-heading">
          There are no activities
        </p>
        <p>
          Nothing is happening right now
        </p>
      </div>
    </div>
    <a ng-href="#/meetings/{{meeting.id}}" class="meeting list-group-item media" ng-repeat="meeting in meetings">
      <div class="icon pull-left">
        <i class="fa fa-group chat-user-avatar"></i>
      </div>
      <div class="media-body">
        <p class="lead media-heading">{{ meeting.name ? meeting.name : 'Meeting @ ' + meeting.initiator.name }}</p>
        <span ng-if="meeting.is_participating" class="label label-success">JOINED</span>
      </div>
    </a>
  </div> <!-- .list-group -->
</div>

<div class="scrollable">
  <div class="scrollable-content section">
    <div class="list-group">
      <div class="list-group-item">
        <h1>
          Hello world :-)<br>
          <small>Insert content here</small>
        </h1>
      </div>
  </div>
</div>
