.product-backlog {
  $prioritized-color: #5BC0DE;
  $prioritized-color-light: #F4F8FA;
  $unprioritized-color: #EEA236;
  $unprioritized-color-light: #FCF8E3;

  .backlog-items {
    list-style: none;
    padding: 0;
  }

  .backlog-item {
    position: relative;
    border-left: 3px solid transparent;
    display: block;
    margin: 10px 0;

    .content {
      padding: 15px 20px;
    }

    .title {
      font-size: 18px;
      margin-bottom: 0;
    }

    .descr {
      font-weight: 200;

      .empty {
        font-style: italic;   
      }
    }

    ul.tags {
      position: absolute;
      bottom: 15px;
      padding: 0;
      margin: 0;

      li {
        @extend .label;
        
        display: inline-block;
        font-weight: 200;
        font-size: 14px;
        padding: .1em .5em;
        opacity: .6;

        &:hover {
          opacity: 1; 
          cursor: pointer;
        }
      }
    }

    .prioritize {
      margin: 0;
      display: none;

      .prioritize-action {
        position: absolute;

        button {
          line-height: 35px;
          font-size: 35px;
          padding: 8px 15px;

          i {
            line-height: 30px;
          }
        }
      }

      .prioritize-up {
        right: 0;
        top: 0;
      }

      .prioritize-down {
        right: 0;
        bottom: 0;
      }

    }

    &:hover {
      .prioritize {
        display: block;
      }
    }
  }

  .prioritized-backlog-items {
  
    .backlog-item {
      background-color: $prioritized-color-light;
      border-color: $prioritized-color;

      .title a {
        color: $prioritized-color;
      }

      .descr {
        margin-bottom: 35px;
      }

      ul.tags li.tag {
        background-color: $prioritized-color;
      }


      .prioritize-action {
        button {
          color: $prioritized-color;
        }
      }
    }

  }

  .unprioritized-backlog-items {
    @extend .clearfix;

    .backlog-item {
      background-color: $unprioritized-color-light;
      border-color: $unprioritized-color;
      float: left;
      margin-right: 15px;
      width: 370px;
      height: 150px;

      // every third backlog item
      &:nth-child(3n+3) {
        margin-right: 0;
      }

      .title a {
        color: $unprioritized-color;
      }

      ul.tags li.tag {
        background-color: $unprioritized-color;
      }

      .prioritize-action {
        button {
          color: $unprioritized-color;
        }
      }
    }
  }

}
