.dragdrop-hidden {
  display: none;
}

.dragdrop-drop-container {
  opacity: .5
}

.dragdrop-drag-element {
  position:absolute;
  pointer-events:none;
  opacity:.8;
  z-index:9999;
}

.dragdrop-placeholder {
  display:block;
  border:1px dashed darkgrey;
  box-sizing:border-box;
  background-color:#dbdbdb;
  opacity: .3;
}

.product-backlog-items {
  list-style: none;
  padding: 0;

  a {
    cursor: pointer;
  }

  .placeholder {
    display: none;
    border: 1px dashed transparent;
    opacity: .5;

    text-align: center;
    font-size: 200%;

    cursor:default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.dragdrop-container-empty.product-backlog-items {
  .placeholder {
    display: block;
  } 
}

.product-backlog-item {
  position: relative;
  border-left: 3px solid transparent;
  display: block;
  margin: 0;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  .content {
    padding: 15px 20px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .descr {
    font-weight: 200;
    font-size: 16px;

    .empty {
      font-style: italic;   
    }
  }

  ul.tags {
    position: absolute;
    bottom: 15px;
    padding: 0;
    margin: 0;
    height: 23px;
    overflow: hidden;

    li {
      @extend .label;
      
      display: inline-block;
      font-weight: 200;
      font-size: 14px;
      line-height: 16px;
      padding: 3px 10px;
      margin-right: .3em;
      opacity: .6;

      &:hover {
        opacity: 1; 
        cursor: pointer;
      }
    }
  }
}

.prioritized-product-backlog-items {
  $height: 115px;

  .placeholder {
    height: $height;
    line-height: $height;
    border-color: $prioritized-color;
    background-color: $prioritized-color-light;
    border: 1px dashed $prioritized-color;
    color: $prioritized-color;
  }

  .product-backlog-item {
    background-color: $prioritized-color-light;
    border-color: $prioritized-color;
    width: 1140px;
    height: $height;

    .title a {
      color: $prioritized-color;
    }

    .descr {
      margin-bottom: 35px;
    }

    ul.tags {

      &:after {
        
      }
    
      li.tag {
        background-color: $prioritized-color;
      }

    }

    .prioritize-action {
      button {
        color: $prioritized-color;
      }
    }
  }

}

.unprioritized-product-backlog-items {
  @extend .clearfix;
  $height: 150px;

  .placeholder {
    height: $height;
    line-height: $height;
    border-color: $unprioritized-color;
    background-color: $unprioritized-color-light;
    border: 1px dashed $unprioritized-color;
    color: $unprioritized-color;
  }

  .product-backlog-item {
    background-color: $unprioritized-color-light;
    border-color: $unprioritized-color;
    float: left;
    margin-right: 15px;
    width: 370px;
    height: $height;

    // every third backlog item
    &:nth-child(3n+1) {
      margin-right: 0;
    }

    .title a {
      color: $unprioritized-color;
    }

    p.descr {
      // Limit descr to 3 lines and...
      line-height: 1.4em;
      height: 4.2em; // = 1.4 * 3 => 3 lines of text
      position: relative;
      overflow: hidden;

      // .."fade out" text when too long
      &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 1.4em;
        background: linear-gradient(to right, rgba(252, 248, 227, 0), rgba(252, 248, 227, 1) 50%);
      }
    
    }

    ul.tags {
      li.tag {
        background-color: $unprioritized-color;
      }
    }

    .prioritize-action {
      button {
        color: $unprioritized-color;
      }
    }
  }
}
