<div class="product-backlog">

  <ul class="product-backlog-items prioritized-product-backlog-items"
    dragdrop-container="prioritizedItems"
    dragdrop-handler="prioritizedDragDropHandler"
    dragdrop-sortable="true"
    dragdrop-enabled="!searchQuery.length"
    ng-model="prioritizedItems">
    <li class="placeholder"><i class="fa fa-arrows"></i> Prioritize Product Backlog Items</li>
    <product-backlog-item
      ng-repeat="item in filteredPrioritizedItems = ( prioritizedItems | filter:searchQuery)"
      search-query="searchQuery"
      item="item">
  </ul>

  <ul class="product-backlog-items unprioritized-product-backlog-items"
    ng-class="{ empty: !unprioritizedItems.length }"
    dragdrop-container="unprioritizedItems"
    dragdrop-handler="unprioritizedDragDropHandler"
    dragdrop-sortable="false"
    dragdrop-enabled="!searchQuery.length"
    ng-model="unprioritizedItems">
    <li class="placeholder"><i class="fa fa-arrows"></i> Unprioritize Product Backlog Items</li>
    <product-backlog-item
      ng-repeat="item in filteredUnprioritizedItems = ( unprioritizedItems | filter:searchQuery )"
      search-query="searchQuery"
      item="item">
  </ul>

  <p class="no-results" ng-hide="(prioritizedItems | filter:searchQuery).length || (unprioritizedItems | filter:searchQuery).length">
    No results
  </p>
</div>
