<!DOCTYPE html>
<html>
<head>
  <title>mageDesktop</title>
  <link rel="shortcut icon" href="/images/mage-icon.png" sizes="57x57">
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="layout">

    <div class="sidebar">
    </div> <!-- .menu -->

    <section class="content container">
    </section> <!-- .main -->

  </div> <!-- .layout -->
</body>
</html>

