<!DOCTYPE html>
<html>
<head>
  <title>mageDesktop</title>
  <link rel="shortcut icon" href="/images/mage-icon.png" sizes="57x57">
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "main" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="layout">

    <aside class="sidebar">

      <%= image_tag 'logo-white.png', class: 'logo' %>

      <nav class="main-nav">
        <ul>
          <li class="active"><a href="">Dashboard</a></li>
          <li><a href="">Product Backlog</a></li>
          <li><a href="">Product Ideas</a></li>
        </ul>
      </nav>

    </aside> <!-- .menu -->

    <section class="content container-fluid">

      Lorem
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      Ispsum
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </section> <!-- .main -->

  </div> <!-- .layout -->
</body>
</html>

