<div class="dashboard screen">

  <header>
    <h1 class="title">{{sprint.goal}}</h1>
  </header>

  <section class="main">
    
    <div class="left">

      <div class="burndown">
        <burndown-chart
          data="data.burndown">
        </burndown-chart>
      </div> <!-- .burndown -->

    </div>

    <div class="right">

      <div class="progress-donut">
        <progress-donut-chart
          data="data.progressDonut">
        </progress-donut-chart>
      </div> <!-- .progress-donut -->

    </div>

  </section>

</div> <!-- .dashboard -->
