#header {
  margin-top: 30px;
  margin-bottom: 15px;
  position: relative;
}

#logo {
  display: block;
  position: absolute;
  top: 8px;
  width: 200px;
}

#logo img {
  width: 100%;
}

#main-nav li:first-child {
  margin-left: 220px;
}

#user-account-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
}

#user-account-nav li {
  display: inline;
  margin-left: 10px;
}

#user-account-nav li:first-child {
  margin-left: 0;
}

.page .header h2 {
  margin-top: 0px;
}

.backlog .header .create-new-item {
  float: right;
}

.backlog .backlog-items {
  list-style: none;
  padding: 0;
}

.backlog .backlog-item {
  position: relative;
}

.backlog .prioritized-backlog-items .backlog-item {
  background-color: #F4F8FA;
  border-left: 3px solid #5BC0DE;
  margin: 10px 0;
  padding: 15px 20px;
}

.backlog .unprioritized-backlog-items .backlog-item {
  background-color: #FCF8E3;
  border-left: 3px solid #EEA236;
  display: inline-block;
  margin: 10px 0;
  padding: 15px 10px 15px 20px;
  width: 377px;
}

.backlog .prioritized-backlog-items .backlog-item .title {
  color: #5BC0DE;
  font-size: 18px;
  margin-bottom: 0;
}

.backlog .unprioritized-backlog-items .backlog-item .title {
  color: #EEA236;
  font-size: 18px;
  margin-bottom: 0;
}

.backlog .backlog-item .re-prioritize {
  display: none;
  position: absolute;
  right: 0;
  margin: 0;
}

.backlog .prioritized-backlog-items .backlog-item .re-prioritize {
  padding-top: 9px;
}

.backlog .unprioritized-backlog-items .backlog-item .re-prioritize {
  padding-top: 15px;
}


.backlog .backlog-item:hover .re-prioritize {
  display: block;
}


.backlog .backlog-item .re-prioritize .re-prioritize-action {
  float: left;
}

.backlog .prioritized-backlog-items .backlog-item .re-prioritize .re-prioritize-action {
  margin-right: 10px;
}

.backlog .unprioritized-backlog-items .backlog-item .re-prioritize .re-prioritize-action {
  margin-right: 5px;
}


.backlog .backlog-item .re-prioritize button {
  margin: 0;
  padding: 0;
}

.backlog .prioritized-backlog-items .backlog-item .re-prioritize button {
  font-size: 30px;
}

.backlog .unprioritized-backlog-items .backlog-item .re-prioritize button {
  font-size: 20px;
}

.backlog .backlog-item .re-prioritize button.disabled {
  opacity: .3;
}

.backlog .backlog-item .re-prioritize .up {
  color: #47a447;
}

.backlog .backlog-item .re-prioritize .down {
  color: #D43F3A;
}

